@charset "utf-8";
/* header */
/*定义页头的背景色和高度*/
.header{
	height:61px;
	background:url(/framework/image/header.gif) repeat;
}
/*导航的按钮*/
.nav a{
	margin-top:12px;
	width:50px;
	height:38px;
	overflow:hidden;
	background:url(/framework/image/title.png) no-repeat;
	text-indent:-9999999em;
}
/*鼠标悬停*/
.nav a:hover{
	opacity:0.5;
	filter:alpha(opacity:50);
}
/*图片(一张图片)*/
a.nava1{
	background-position:0 0;
}
a.nava2{
	background-position:-76px 0;
}
a.nava3{
	background-position:-153px 0;
}
a.nava4{
	background-position:-229px 0;
}


/* wrap */
/*左右边框的颜色*/
.wrap{
	border-right:1px solid #C5C7CB;
   border-left:1px solid #C5C7CB;
	
}

/*内容页的样式*/
.aside, .section{
	min-height:700px;
	height:auto;
	_height:700px; /*兼容性*/
}
/* aside */
/*左边导航条的样式*/
.aside{
	margin-top:-14px;
	*margin-top:0px; /*兼容性*/
	width:210px;
	background:#EFEFEF url(/framework/image/shadow1.gif) repeat-x;
}
.aside ul{
	padding-top:10px;
	border-bottom:1px solid #E1E1E1;
}
.aside li{
	_width:100%;
	_overflow:hidden;
	background:url(/framework/image/title.png) -289px 0 no-repeat;
	_background:url(/framework/image/title.gif) -289px 0 no-repeat;
	font:14px/46px 'Simsun';
}
.aside li:hover, .aside li.current{
	background-position:-289px -48px;
	_background:url(/framework/image/ie6-1.gif) no-repeat;
	font-weight:bold;
}
.aside a{
	display:block;
	padding-left:53px;
	background:url(/framework/image/title.png) 0 0 no-repeat;
}
.aside a:hover, .aside a.aCurrent{
	background-image:url(/framework/image/title2.png);
}
.aside a.asideA1{
	background-position:18px -42px;
}
.aside a.asideA2{
	background-position:18px -90px;
}
.aside a.asideA3{
	background-position:18px -139px;
}
.aside a.asideA4{
	background-position:18px -171px;
}
.aside a.asideA5{
	background-position:18px -218px;
}
.aside a.asideA6{
	background-position:18px -266px;
}
.aside a.asideA7{
	background-position:18px -314px;
}
.aside a.asideA8{
	background-position:18px -362px;
}
.aside a.asideA9{
	background-position:18px -410px;
}
.aside a.asideA10{
	background-position:18px -458px;
}
.aside a.asideA11{
	background-position:18px -506px;
}
/*菜单项内容的样式*/
.menu{
	display:none;
	background:#F6F6F6;
	border-top:1px solid #B7B7B7;
	font:12px/35px 'Simsun';
}
.menu a{
	background:none ;
	/* border-top:1px solid #F6F6F6;*/
	color:#646464;
}
.menu a:hover{
	background:#bef3fc;
	border-color:#83CDEE;
	border-right:4px solid #f6cc9c;
	font-weight:bold;
	color:#646464;
}
.menu a.aCtn{
	background:#66C3EC;
	border-color:#83CDEE;
	border-right:4px solid #F7881B;
	font-weight:bold;
	color:#FFF;
}

/* section */
/*内容页区域*/
.section{
	border:1px solid #C5C7CB;
}
/*process已经放弃*/
.process{
	padding:10px 20px;
	background:#F6F6F6 url(/framework/image/shadow2.gif) left top repeat-x;
	border-bottom:1px solid #D1D1D1;
}
.proce-list{
	height:59px;	
	color:#737373;
}
.proce-list li
{
    float:left;
	margin-top:8px;
	width:180px;
	height:41px;  
	/*background:url(/framework/image/process.gif) 10000px 10000px no-repeat;*/
}

.proce-list li span{float:left;margin:0px 5px;}
.proce-list li span  a{
	color:#737373;
}
.proce-list li span  a:hover{
	color:#66C3EC;
}
.proce-list li.pli1{
	text-indent:43px;
}
.proce-list li.pli2{
	text-indent:44px;
}
.proce-list li.pli3{
	text-indent:45px;
}
.proce-list li.pli4, .proce-list li.pli5{
	text-indent:46px;
}
/*查询区域边框*/
.art-tit{
    margin-bottom:10px;
	background:#F1F2F5;
	border:1px solid #C2C3C8;
}
/*按钮样式-已经取消*/
.art-titbutton    
{  
    margin-bottom:-1px;
	min-height:46px;
	background:#F1F2F5;
	border:1px solid #C2C3C8;	

}
.proce-list li.lc1{
	background-position:0 -61px;
}
.proce-list li.lc11{
	background-position:0 -122px;
}
.proce-list li.lc2{
	background-position:-167px -61px;
}
.proce-list li.lc22{
	background-position:-167px -122px;
}
.proce-list li.lc3{
	background-position:-334px -61px;
}
.proce-list li.lc33{
	background-position:-334px -122px;
}
.proce-list li.lc4{
	background-position:-501px -61px;
}
.proce-list li.lc44{
	background-position:-501px -122px;
}
.proce-list li.lc5{
	background-position:-668px -61px;
}
.proce-list li.lc55{
	background-position:-668px -122px;
}
/*操作区域（已取消）*/
.operating a, .view{
	background:url(/framework/image/title.png) no-repeat;
}
.operating{
	/*margin-top:8px;*/
}
.operating a{
	width:82px;
	height:30px;
	overflow:hidden;
	text-indent:36px;
	font:bold 14px/30px 'Simsun';
}
.operating a:hover{
	color:#FFF;
}
.operating a.addNew{
	background-position:-289px -226px;
}
.operating a.addNew:hover{
	background-position:-289px -195px;
}
.operating a.export{
	background-position:-381px -195px;
}
.operating a.export:hover{
	background-position:-381px -226px;
}
/*操作区域显示（已取消）*/
.view{
	margin-top:11px;
	background-position:-483px -195px;
}
.vlst{
	background-position:-483px -223px;
}
.view a{
	width:32px;
	height:28px;
	overflow:hidden;
	text-indent:-9999999em;
}
/*HTML Table的样式（已取消）*/
.fTable{
	border-right:1px solid #C2C3C8;
}
.fTable li{
	float:left;
	width:100%;
	height:40px;
	overflow:hidden;
	background:#F6F6FA;
	border-bottom:1px solid #E0E2E7;
	border-right:1px solid #C2C3C8;
}
.fTable li:hover{
	background:#D3DFE7;
}
li.bgw{
	background:#FFF;
}
li.ftb-tit{
	background:url(/framework/image/fTable-tit.gif) 0 -1px repeat-x;
	border-color:#C2C3C8;
	font-weight:bold;
}
.fTable li.ftb-tit:hover{
	background:url(/framework/image/fTable-tit.gif) 0 -1px repeat-x;
}
.fTable li div{
	height:40px;
	overflow:hidden;
	border-left:1px solid #C2C3C8;
	line-height:40px;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.ti{
	text-indent:20px;
}
.fdiv1{
	width:8%;
}
.fdiv2{
	width:9%;
}
.fdiv3{
	width:17%;
}
.fdiv4{
	width:27%;
}
.fdiv5{
	width:20%;
}
.chkbx{
	margin-top:14px;
}
a.map-src{
	display:block;
	margin:12px auto;
	width:12px;
	height:16px;
	overflow:hidden;
	background:url(/framework/image/map-icon.png) no-repeat;
	text-indent:-99999em;
}

/* page */
/*分页的样式（已取消）*/
.page{
	font-family:'Microsoft YaHei';
}
.page a, .page span{
	display:inline-block;
	padding:0 2px;
}
.page a{
	vertical-align:top;
}
.page a:hover{
	color:#0A5A7E;
}
span.tzp{
	padding:1px 3px 4px;
	width:46px;
	height:20px;
	overflow:hidden;
	line-height:20px;
	background:url(/framework/image/page.gif) no-repeat;
}
input.tzip{
	width:22px;
	height:20px;
	background:none;
	border:0;
	vertical-align:middle;
	line-height:20px\0;
}
a.tza{
	width:20px;
	height:20px;
}
/*
*Author:zhongbao.xiao
*Des:用于拜访任务详细页面中的关闭按钮样式
*Date:2013.5.29
*/
#navi a
{
    background-color: transparent;
    background-image: url('../../Lib/Javascript/Ext4.1.0/Resources/themes/images/gray/tools/tool-sprites.gif');
    background-repeat: no-repeat;
    cursor: pointer;
    height: 15px;
    margin: 5px;
    overflow: hidden;
    width: 15px;
    float: right;
}
#navi a:hover
{
    background-position: -15px 0;
}